In [1]:
import pandas as pd

In [7]:
frame1 = pd.DataFrame({'numbers': range(10),
                      'chars': ['a']*10})

In [ ]:
frame = pd.read_csv('dataset.tsv', header=0, sep='\t')

In [10]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер

In [15]:
frame.columns

Index(['Name', 'Birth', 'City', 'Position'], dtype='object')

In [16]:
frame.shape

(6, 4)

In [33]:
new_line = {'Name': 'Никита', 'City':'Санкт'}

In [34]:
frame = frame.append(new_line, ignore_index=True)

In [41]:
frame['IsStudent'] = [False] * 4 + [True] * 2

In [26]:
frame.drop([5, 6], axis=0, inplace=True)

In [43]:
frame.drop(['IsStudent'], axis=1, inplace=True)

In [44]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5           Никита         NaN      Санкт       NaN

In [38]:
frame.to_csv('updated_dataset.csv', sep=',', header=True, index_label='Lab')

In [45]:
frame[:2]

           Name       Birth       City Position
0   Иванов А.А.  22.03.1980     Москва      NaN
1  Сорокин И.В.  07.08.1965  Волгоград  инженер