In [54]:
import pandas as pd
import datetime

In [48]:
frame = pd.read_csv('dataset.tsv', sep='\t', header=0)

In [6]:
frame.dtypes

Name        object
Birth       object
City        object
Position    object
dtype: object

In [50]:
frame.Birth = frame.Birth.apply(pd.to_datetime)

In [9]:
frame.dtypes

Name                object
Birth       datetime64[ns]
City                object
Position            object
dtype: object

In [12]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      6 non-null      object
 1   Birth     6 non-null      datetime64[ns]
 2   City      6 non-null      object
 3   Position  4 non-null      object
dtypes: datetime64[ns](1), object(3)
memory usage: 184.0+ bytes

In [30]:
frame.Position.fillna('разнорабочий', inplace=True)

In [23]:
frame[['Position', 'Name']]

       Position             Name
0  разнорабочий      Иванов А.А.
1       инженер     Сорокин И.В.
2      менеджер       Белов М.М.
3  разнорабочий  Мельникова Д.С.
4       инженер      Рыбина Е.П.
5        стажер     Костров С.О.

In [51]:
frame[2:]

              Name      Birth    City  Position
2       Белов М.М. 1980-02-13     NaN  менеджер
3  Мельникова Д.С. 1985-04-15  Ростов       NaN
4      Рыбина Е.П. 1985-11-19  Москва   инженер
5     Костров С.О. 1985-05-31  Москва    стажер

In [34]:
frame.loc[(1, 3, 5), ['Name', 'City']]

              Name       City
1     Сорокин И.В.  Волгоград
3  Мельникова Д.С.     Ростов
5     Костров С.О.     Москва

In [39]:
frame.iloc[[1, 3, 5], [0, 2]]

              Name       City
1     Сорокин И.В.  Волгоград
3  Мельникова Д.С.     Ростов
5     Костров С.О.     Москва

In [55]:
frame[frame.Birth >= datetime.datetime(1985, 1, 1)]

              Name      Birth    City Position
3  Мельникова Д.С. 1985-04-15  Ростов      NaN
4      Рыбина Е.П. 1985-11-19  Москва  инженер
5     Костров С.О. 1985-05-31  Москва   стажер